/*Con scss creo variables para el uso en el sitio*/
$color_body: honeydew;
$color_h1: crimson;
$color_p: rgb(58, 168, 55);
$color_footer: rgb(58, 168, 55);
$color_flex: rgb(135, 222, 142);
$fondo_header: rgb(107, 214, 107);
