@charset "UTF-8";
/*Comienzo dejando en cero todos los campos utilizando el selector universal y reseteando los valores a cero*/
/*Comienzo mi codigo de css con la filosofía mobile first, para luego adaptarlo a tablets y PCs de escritorios con media queries*/
* {
  margin: 0;
  padding: 0;
  /*Me deja configurado  el tamaño total máximo de la caja lo que yo defina de Heigt y widht*/
  box-sizing: border-box;
}

/* Media query de Galeria para celulares */
h1 {
  /* Le doy formato a mis encabezados principales*/
  color: crimson;
  text-align: center;
  font-size: 50px;
  margin: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
}

h2 {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

/*Configuración p parrafos para celulares*/
p {
  color: rgb(58, 168, 55);
  height: 40%;
  text-align: left;
  font-size: 25px;
  text-align: center;
}

#header-index {
  background-color: rgb(107, 214, 107);
  /*Por defecto flex trabaja en fila*/
  display: block;
  justify-content: end;
  padding-right: 20px;
  border: 3px solid black;
}

header nav ul {
  display: flex;
  color: rgb(36, 189, 44);
  list-style: none;
  justify-content: center;
  align-items: flex-start;
  /*Gap es una propiedad que trabaja en los dos ejes y funciona con Flex*/
  gap: 30px;
}

#main-index {
  display: block;
  /*flex-wrap:nowrap;*/
}

.bienvenidos-lugar {
  font-size: 50px;
}

.visita-web {
  color: black;
  height: 40%;
  text-align: left;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}

.quienes_somos:hover {
  background-color: beige;
  color: darkorchid;
}

/*Lista de Precios para celulares*/
li {
  color: coral;
}

body {
  /*Le doy formato al fondo*/
  background-color: honeydew;
}

#principal {
  color: crimson;
  font-family: "Hanalei Fill", serif;
  font-size: 70px;
  text-align: center;
}

/*Logo para celulares*/
#logo {
  display: block;
  height: 20%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

.testimonios {
  text-align: center;
  align-content: center;
}

.video_intro {
  display: flex;
  width: 100%;
  height: 60%;
  background-color: rgb(135, 222, 142);
  justify-content: center;
  align-items: center;
  /*padding: 20px;*/
  border: 3px solid black;
  /*margin: 10px;*/
}

#video_intro {
  align-items: center;
  justify-content: center;
}

/*Imagen de quienes somos para Tablet*/
#marvel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*Coloco unidades relativas para la imagen*/
  width: 420px;
  height: 420px;
}

#mensaje {
  /*Con Resize le impido al usuario que pueda modificar las dimensiones del textarea*/
  resize: none;
  width: 300px;
  height: 100px;
}

.footer {
  color: rgb(58, 168, 55);
  height: 40%;
  text-align: left;
  font-size: 20px;
  text-align: center;
}

.tabla-precios {
  margin: 50px;
}

.contacto {
  margin: 20px;
}

/*Configuro en grilla mi galería para celulares*/
.contenedor-grid {
  /*Habilito grid*/
  display: grid;
  /*Defino las columnas y su configuración*/
  grid-template-columns: 1fr 1fr 1fr;
  /*Le doy una distancia entre las columnas*/
  column-gap: 30px;
  /*Defino la cantidad de filas que quiero en mi grilla*/
  grid-template-rows: 645px 645px;
  /*Establezco una distancia entre las filas*/
  row-gap: 30px;
  /*Alineo en el eje vertical*/
  align-items: center;
  /*alineo en el  eje horizontal.*/
  justify-items: center;
}

.item-grid {
  text-align: center;
  /*border: 2px solid #1aa */
}

/* Media query de Galeria para tablets */
@media (min-width: 600px) {
  /*h1 de Tablet*/
  h1 {
    /* Le doy formato a mis encabezados principales*/
    color: crimson;
    text-align: center;
    font-size: 50px;
    margin: 5px;
    font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  }
  /*h2 de Tablet*/
  h2 {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
  }
  /*p de Tablet*/
  p {
    color: rgb(58, 168, 55);
    height: 40%;
    text-align: left;
    font-size: 25px;
    text-align: center;
  }
  #header-index {
    background-color: rgb(107, 214, 107);
    /*Por defecto flex trabaja en fila*/
    display: block;
    justify-content: end;
    padding-right: 20px;
    border: 3px solid black;
  }
  header nav ul {
    display: flex;
    color: rgb(36, 189, 44);
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    /*Gap es una propiedad que trabaja en los dos ejes y funciona con Flex*/
    gap: 30px;
  }
  #main-index {
    display: block;
    /*flex-wrap:nowrap;*/
  }
  .bienvenidos-lugar {
    font-size: 50px;
  }
  .visita-web {
    color: black;
    height: 40%;
    text-align: left;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
  }
  .quienes_somos:hover {
    background-color: beige;
    color: darkorchid;
  }
  /*Lista de Precios para Tablet*/
  li {
    color: coral;
  }
  body {
    /*Le doy formato al fondo*/
    background-color: honeydew;
  }
  #principal {
    color: crimson;
    font-family: "Hanalei Fill", serif;
    font-size: 70px;
    text-align: center;
  }
  /*Logo para Tablets*/
  #logo {
    display: block;
    height: 20%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
  }
  .testimonios {
    text-align: center;
    align-content: center;
  }
  .video_intro {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: rgb(135, 222, 142);
    justify-content: center;
    align-items: center;
    /*padding: 20px;*/
    border: 3px solid black;
    /*margin: 10px;*/
  }
  #video_intro {
    align-items: center;
    justify-content: center;
  }
  /*Imagen de quienes somos para Tablet*/
  #marvel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*Coloco unidades relativas para la imagen*/
    width: 45%;
    height: 45%;
  }
  #mensaje {
    /*Con Resize le impido al usuario que pueda modificar las dimensiones del textarea*/
    resize: none;
    width: 300px;
    height: 100px;
  }
  .footer {
    color: rgb(58, 168, 55);
    height: 40%;
    text-align: left;
    font-size: 20px;
    text-align: center;
  }
  .tabla-precios {
    margin: 50px;
  }
  .contacto {
    margin: 20px;
  }
  /*Configuro en grilla mi galería para Tablet*/
  .contenedor-grid {
    /*Habilito grid*/
    display: grid;
    /*Defino las columnas y su configuración*/
    grid-template-columns: 1fr 1fr;
    /*Le doy una distancia entre las columnas*/
    column-gap: 30px;
    /*Defino la cantidad de filas que quiero en mi grilla*/
    grid-template-rows: 645px 645px 645px;
    /*Establezco una distancia entre las filas*/
    row-gap: 30px;
    /*Alineo en el eje vertical*/
    align-items: center;
    /*alineo en el  eje horizontal.*/
    justify-items: center;
  }
  .item-grid {
    text-align: center;
    /*border: 2px solid #1aa */
  }
}
/* Media query de Galeria para computadoras de escritorio */
@media (min-width: 1024px) {
  /*h1 PC de escritorio*/
  h1 {
    /* Le doy formato a mis encabezados principales*/
    color: crimson;
    text-align: center;
    font-size: 50px;
    margin: 5px;
    font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  }
  /*h2 PC de escritorio*/
  h2 {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
  }
  /*p de escritorio*/
  p {
    color: rgb(58, 168, 55);
    height: 40%;
    text-align: left;
    font-size: 25px;
    text-align: center;
  }
  #header-index {
    background-color: rgb(107, 214, 107);
    /*Por defecto flex trabaja en fila*/
    display: block;
    justify-content: end;
    padding-right: 20px;
    border: 3px solid black;
  }
  header nav ul {
    display: flex;
    color: rgb(36, 189, 44);
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    /*Gap es una propiedad que trabaja en los dos ejes y funciona con Flex*/
    gap: 30px;
  }
  #main-index {
    display: block;
    /*flex-wrap:nowrap;*/
  }
  .bienvenidos-lugar {
    font-size: 50px;
  }
  .visita-web {
    color: black;
    height: 40%;
    text-align: left;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
  }
  /*configuro hover*/
  .quienes_somos:hover {
    background-color: beige;
    color: darkorchid;
  }
  /*Lista de precios para PCs de escritorio*/
  li {
    font-size: 18px;
    color: coral;
  }
  body {
    /*Le doy formato al fondo*/
    background-color: honeydew;
  }
  #principal {
    color: crimson;
    font-family: "Hanalei Fill", serif;
    font-size: 70px;
    text-align: center;
  }
  /*Logo para PCs de escritorio*/
  #logo {
    display: block;
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    height: auto;
  }
  .testimonios {
    text-align: center;
    align-content: center;
  }
  .video_intro {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: rgb(135, 222, 142);
    justify-content: center;
    align-items: center;
    /*padding: 20px;*/
    border: 3px solid black;
    /*margin: 10px;*/
  }
  #video_intro {
    align-items: center;
    justify-content: center;
  }
  #marvel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*Coloco unidades relativas para la imagen*/
    width: 15%;
    height: 15%;
  }
  #mensaje {
    /*Con Resize le impido al usuario que pueda modificar las dimensiones del textarea*/
    resize: none;
    width: 300px;
    height: 100px;
  }
  .footer {
    color: rgb(58, 168, 55);
    height: 40%;
    text-align: left;
    font-size: 20px;
    text-align: center;
  }
  .tabla-precios {
    margin: 50px;
  }
  .contacto {
    margin: 20px;
  }
  /*Configuro en grilla mi galería para PC de escritorio*/
  .contenedor-grid {
    /*Habilito grid*/
    display: grid;
    /*Defino las columnas y su configuración*/
    grid-template-columns: 1fr 1fr 1fr;
    /*Le doy una distancia entre las columnas*/
    column-gap: 30px;
    /*Defino la cantidad de filas que quiero en mi grilla*/
    grid-template-rows: 645px 645px;
    /*Establezco una distancia entre las filas*/
    row-gap: 30px;
    /*Alineo en el eje vertical*/
    align-items: center;
    /*alineo en el  eje horizontal.*/
    justify-items: center;
  }
  .item-grid {
    text-align: center;
    /*border: 2px solid #1aa */
  }
}

/*# sourceMappingURL=style.css.map */
